.header-sec {
    height: 11rem;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #282c34;
}

.header-sec1, .header-sec2 {
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.header-sec2 {
    text-align: right;
}

.header-logo {
    height: 100%;
    margin-left: 5rem;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: top;
}

.header-logo img {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-name, .header-title, .header-space {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.header-title {
    transform: translateY(10%);
    opacity: 0;
}

.header-name-content, .header-title-content, .header-space-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white !important;
}

.header-space-content {
    padding: 0 2rem;
}

.slidein {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.header-ops-sec {
    height: 100%;
    text-align: right;
    width: 100%;
}

.header-login-sec {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8rem;
}

.header-login-sec Button {
    margin: 0 0.5rem;
}

.header-login-sec img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}