.content {
    height: 100%;
    width: 100%;
    background-color: #282c34;
    opacity: 0;
    overflow-y: auto;
}

.dashboard {
    opacity: 0;
}

.fadein {
    transition: 0.5s;
    opacity: 1;
}

.dashboard-sec,.member-sec,.activity-sec {
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 13rem;
    padding-bottom: 5rem;
}

.dashboard-content {
    display: inline-block;
    text-align: center;
}

.dashboard-card {
    margin-bottom: 1.5rem;
    background-color: white;
}

.dashboard-cardsec {
    text-align: left;
    margin-right: 1.5rem;
    display: inline-block;
    vertical-align: top;
}

.activity-title {
    text-align: center;
    margin-bottom: 1rem;
}

.activity-details {
    margin-bottom: 1rem;
}

.inactive-member {
    text-align: center;
}

.activity-tabs,.member-tabs {
    display: inline-block;
    background-color: white;
    height: auto;
    width: 80%;
    text-align: left;
    padding: 2rem 4rem 4rem 4rem;
}

.member-tab-content-sec {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 1rem;
}

.card-reg-modal {
    text-align: center;
}

.card-reg-modal-icon img {
    height: 3rem;
}

.card-reg-modal-indi {
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.card-reg-modal-input {
    opacity: 0;
}

.table-link {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}